* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.start-screen {
  padding: 60px 40px 0 40px;
  background: url(../../assets/images/start-screen-gradient-background.png) no-repeat center;
  width: 100%;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-link{
  display: block;
  text-decoration: none;
}

.cozy {
  display: flex;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #F1CDB3;
}

.shelter_boston {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;    
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-right: 35px;
}

.nav-link {
  display: block;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07px;
  color: #CDCDCD;
  text-decoration: none;
}

.nav-link:hover {
  color: #fafafa;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link__active {
  color: #fafafa;
  border-bottom: 3px solid #F1CDB3;
}

.start-screen-main {
  display: flex;
  margin-top: 60px;
  
}

.start-screen-main-text {
  flex-direction: column;
  justify-content: center;
  margin-right: 42px;
  margin-top: 163px;
}

.start-screen-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;  
  color: #FFFFFF;
}

.start-screen-description {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-top: 42px ;
  margin-bottom: 41px;
}

.button-start-screen {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-start-screen:hover {
  background: #FDDCC4;
}

.start-screen-main-dog img{
  display: block;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 80px;  
  margin-bottom: 95px;
}

.content-text{
  margin-left: 120px;
  margin-top: 13px;
}

.heading {
  display: flex;
  align-items: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}

.subheading {
  width: 430px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-bottom: 25px;
}

.subheading:last-child {
  margin-bottom: 0;
}
/* cards */
.pets-section {
  background-color: #F6F6F6;
}
.pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-pets-section {
  display: flex;
  text-align: center;
  margin-top: 80px;
  align-items: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

.slider__inner{
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  margin-right: 90px;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  display: block;
}

.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 20px 7px rgb(13 13 13 / 3%);
}

.card:hover .button-pets {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.name-pets {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 29px;
  margin-bottom: 30px;
}

.button-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
  color: #292929;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.056em;
  margin-bottom: 30px;
}

.button-pets:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.button-pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
  color: #292929;
  margin-bottom: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button-pets-content:hover {
  background: #FDDCC4;

}

.button-page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: transparent;
  cursor: pointer;
}

.button-page-number__right img {
  transform: rotate(180deg);
}

.button-page-number:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.heading-help {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.058em;
  color: #545454;
}

.help-section {
  padding-top: 80px;
}

.help-content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 59px;
  margin-bottom: 100px;
  column-gap: 120px;
  row-gap: 55px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 113px;
}

.items p {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.058em;
color: #545454;
margin-top: 30px;
}

.items img {
  display: block;
}

.donation-section {
  background-color: #F6F6F6;
  padding: 81px 0 101px;
}

.donation-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 380px;
  margin-left: 30px;
}

.heading-donate-section {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.bank-donation {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 19px;
}

.account-info {
  display: flex;
  align-items: center;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
  margin-bottom: 20px;
  max-width: 349px;
  text-decoration: none;
}

.account-info img {
  display: block;
}

.number-donation {
  display: block;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.058em;
  color: #545454;
  margin-left: 15px;
  text-decoration: none;
}


.text-donation {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  background: url(../../assets/images/footer-gradient-background.png) no-repeat center;
  background-size:cover;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.icon-text {
  display: flex;
  margin-top: 56px;
}

.contacts:first-child {
  margin-right: 160px;
}

.contact-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.061em;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.contact-title-location {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.email{
  display: flex;
  align-items: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

.icon-email {
  display: block;
  margin-bottom: 43px;
}

.icon-img {
  margin-right: 20px;
}

.icon-phone {
  display: flex;
  align-items: center;
}

.icon-img-phone {
  margin-right: 20px;
}

.phone {
  display: flex;
  align-items: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

.boston {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

.london {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  }

.icon-boston-img{
    margin-right: 20px;
}

.icon-london-img {
  margin-right: 20px;
}

.icon-boston a {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.icon-london a {
  display: flex;
  align-items: center;
}

.footer-puppy img {
  display: block;
  margin-top: 41px;
}
  