* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;

}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.start-screen {
  padding: 60px 40px 0 40px;
  background: url(../../assets/images/start-screen-gradient-background.png) no-repeat center;
  width: 100%;
  height: 903px;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cozy {
  display: flex;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #F1CDB3;
}

.shelter_boston {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;    
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {

}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-right: 35px;
}

.nav-link {
  display: block;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07px;
  color: #CDCDCD;
  text-decoration: none;
}

.nav-link:hover {
  color: #fafafa;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link__active {
  color: #fafafa;
  border-bottom: 3px solid #F1CDB3;
}


